.main-page__content-title-position{
  margin: 288px 0 0 var(--main-big-margin);
}

.main-content-margin-left-right{
  margin: 0 var(--main-mini-margin) 0 var(--main-mini-margin);
}

.pages-content-margin-left-big{
  margin-left: var(--main-big-margin);
}

.value {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  width: 50%;
}

.img-description-margin-top {
  margin-top: 33px;
}

.img-width-description {
 width: 810px !important;
}


@media screen and (max-width: 1280px){
  .main-page__content-title-position{
    margin: 108px 0 0 var(--main-big-margin);
  }
  .img-description-margin-top {
    margin-top: 43px;
  }
  .img-width-description {
    width: 100% !important;
    max-width: 770px !important;
  }
}

@media screen and (max-width: 1024px){
  .img-description-margin-top {
    margin-top: 40px;
  }
}
