.main-page__content-title-position{
  margin: 288px 0 0 var(--main-big-margin);
}

.main-content-margin-left-right{
  margin: 0 var(--main-mini-margin) 0 var(--main-mini-margin);
}

.pages-content-margin-left-big{
  margin-left: var(--main-big-margin);
}

.value {
  display: flex;
  flex-direction: column;
  min-width: 435px;
  margin-bottom: 37px;
}

.img-description-margin-top {
  margin-top: 33px;
}

.img-width-description {
 width: 810px !important;
}
