.main-page__content-title-position{
  margin: 288px 0 0 var(--main-big-margin);
}

.main-content-margin-left-right{
  margin: 0 var(--main-mini-margin) 0 var(--main-mini-margin);
}

.pages-content-margin-left-big{
  margin-left: var(--main-big-margin);
}

.value {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  width: 50%;
}


@media screen and (max-width: 1280px){
  .main-page__content-title-position{
    margin: 108px 0 0 var(--main-big-margin);
  }
}
@media screen and (max-width: 768px){
  .main-page__content-title-position{
    margin: 58px 0 0 var(--main-big-margin);
  }
}
