.process_content-title_margin{
  margin-top: 83px;
  margin-bottom: 35px;
  margin-left: var(--main-big-margin);
}

.process_img-wrap_height{
  height: 800px;
}

.process_img-description_margin-top {
  margin-top: 33px;
}

.process_img-description_width {
  max-width: 810px !important;
}

@media screen and (max-width: 1280px){
  .process_img-wrap_height{
    height: 580px !important;
  }
  .process_img-description_margin-top {
    margin-top: 43px;
  }
}
@media screen and (max-width: 1024px){
  .process_img-wrap_height{
    height: 520px !important;
  }
  .process_img-description_margin-top {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px){
  .process_img-wrap_height{
    height: 320px !important;
  }
}
@media screen and (max-width: 414px){
  .process_img-description_margin-top{
    margin-top: 50px;
  }
  .process_img-wrap_height{
    height: 520px !important;
  }
}
