a {
  cursor: pointer;
}

.text-color-white {
  color: #FFFFFF !important;
}

.block-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 156%;
  text-transform: uppercase;
  color: #000000;
}

.content-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 58.59px;
  line-height: 166%;
  color: #000000;
}

.content-title-bold {
  font-weight: bold;
}

.content-p {
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 166%;
  color: #000000;
}

.content-btn-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 166%;
  color: #000000;
}

.main-page_start-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 73.24px;
  line-height: 109%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.main-page_small-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.text-very-small {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 15.36px;
  line-height: 166%;
  letter-spacing: -0.04em;
  color: #000000;
}

.item-project-title-text {
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 46.88px;
  line-height: 141%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.item-project_description_value {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 166%;
  color: #000000;
}

.item-project_pres-view {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166%;
  text-decoration-line: underline;
  color: #000000;
}

.nav-menu-btn-text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 73.24px;
  line-height: 109%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000000;
}

.footer-contacts {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 19.2px;
  line-height: 156%;
  color: #000000;
}

.team-img-description-text {
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 37.5px;
  line-height: 107.5%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.date-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 15.36px;
  line-height: 100%;
  text-transform: capitalize;
  color: #000000;
  margin-top: 17px;
}

@media screen and (max-width: 1280px) {
  .main-page_start-text {
    font-size: 48px;
  }
  .nav-menu-btn-text {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .content-p {
    font-size: 18px;
  }

  .content-title{
    font-size: 36px;
  }

  .content-btn-text{
    font-size: 20px;
  }

  .item-project-title-text{
    font-size: 36px;
  }

  .footer-contacts{
    font-size: 14px;
  }
  .item-project_description_value{
    font-size: 24px;
  }
}

@media screen and (max-width: 380px){
  .item-project_description_value{
    font-size: 18px;
  }
}
